*{
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.header{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
}

.menu_button{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 20px;
    height: 17px;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}

.menu_line{
    display: block;
    background-color: #1F2022;
    width: 20px;
    height: 3px;
    border-radius: 20px;
}

.logo{
    margin-right: 59px;
}

.input_group{
    background: #EBEBEB;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    max-width: 830px;
    width: 50%;
}

.input_search{
    background-color: transparent;
    border:none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23px;
    padding-right: 23px;
    width: 100%;
}

.button_search{
    padding: 0;
    width: 19px;
    height: 19px;border: none;
    background: transparent;
    cursor: pointer;
}

.icons{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.icon_search{
    fill: #000;
}

.icons_link{
    text-decoration: none;
    opacity: 0.24;
}

.icons_link:hover{
    opacity: 0.7;
}

.icons_link:not(:last-child){
    margin-right: 50px;
}

.user{
    margin-left: 45px;
}

.user_avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 114px;
    width: 12%;
    height: calc(100% - 114px);
    overflow-y: auto;
    padding-left: 32px;
    background-color: #fff;
}

.content{
    width: 100%;
    height: 400px;
    margin-top: 85px;
    padding-left: 13%;
    padding-top: 30px;
}

.nav_menu{
    margin-top: 0;
    margin-bottom: 60px;
    padding-left: 0;
    list-style: none;
}

.nav_item{
    margin-bottom: 28px;
}

.nav_link{
    text-decoration: none;
    color: #898989;
    display: flex;
    align-items: center;
}

.nav_item .icon{
    fill: #898989;
}

.nav_text{
    margin-left: 13px;
}

.nav_link:hover{
    color: #FF0000;
}

.nav_link:hover .icon{
    fill: #FF0000;
}

.nav_image{
    width: 26px;
    height: 26px;
    border-radius:50%;
}

.nav_title{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
}

.nav_menu_last{
    margin-bottom: 40px;
    padding-top: 44px;
    padding-left: 0;
    list-style: none;
}

.channel_title{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #19202c;
    font-weight: bold;
    font-size: 16px;
    line-height: 33px;
    margin-bottom: 30px;
}

.channel_avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.channel_text{
    margin-left: 20px;
}

.video_card{
    width: 250px;
}

.recommended_card{
    width: 540px;
}

.videp_thumb{
    width: 250px;
    height: 150px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;    
}

.recommended_thumb{
    width: 540px;
    height: 250px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;    
}

.thumbnail{
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.thumbnail_recommended{
    width: 540px;
    height: 250px;
    object-fit: cover;
}


.video_duraction{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,0.3);
    border-radius: 12px;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    padding: 3px 9px;
}

.video_title{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #19202c;
    margin-top: 10px;
    margin-bottom: 4px;
}

.recommended_title{
    display: flex;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #19202c;
    margin-top: 10px;
    margin-bottom: 4px;
}

.video_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 16px;
    color: #c2c2c2;
}
.recommended_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 16px;
    color: #c2c2c2;
}

.video_counter{
    display: flex;
}

.video_views{
    margin-right: 5px;
}

.video_views:after{
    content: '';
    width: 2px;
    height: 2px;
    background-color: #c2c2c2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.channel{
    position: relative;
    margin-bottom: 49px;
}

.channel-button{
    cursor: pointer;
}

.sleder_buttons{
    position: absolute;
    right: 8%;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66px;
}

.recommended_text{
    margin-left: 19px;
    font-size: 16px;
    line-height: 20px;
    color: #c2c2c2 ;
}

.subscribe{
    background-color: #FF0000;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
    margin-left: 830px;
    margin-right: 40px;
    color: #ffffff;
}