*{
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.header{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.menu_button{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 20px;
    height: 17px;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}

.menu_line{
    display: block;
    background-color: #1F2022;
    width: 20px;
    height: 3px;
    border-radius: 20px;
}

.logo{
    margin-right: 59px;
}

.input_group{
    background: #EBEBEB;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    max-width: 830px;
    width: 50%;
}

.input_search{
    background-color: transparent;
    border:none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23px;
    padding-right: 23px;
    width: 100%;
}

.button_search{
    padding: 0;
    width: 19px;
    height: 19px;border: none;
    background: transparent;
    cursor: pointer;
}

.icons{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.icon_search{
    fill: #000;
}

.icons_link{
    text-decoration: none;
    opacity: 0.24;
}

.icons_link:hover{
    opacity: 0.7;
}

.icons_link:not(:last-child){
    margin-right: 50px;
}

.user{
    margin-left: 45px;
}

.user_avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar{
    padding-left: 32px;
}

.nav_menu{
    margin-top: 0;
    margin-bottom: 60px;
    padding-left: 0;
    list-style: none;
}

.nav_item{
    margin-bottom: 28px;
}

.nav_link{
    text-decoration: none;
    color: #898989;
    display: flex;
    align-items: center;
}

.nav_item .icon{
    fill: #898989;
}

.nav_text{
    margin-left: 13px;
}

.nav_link:hover{
    color: #FF0000;
}

.nav_link:hover .icon{
    fill: #FF0000;
}

.nav_image{
    width: 26px;
    height: 26px;
    border-radius:50%;
}

.nav_title{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
}

.nav_menu_last{
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 44px;
    padding-left: 0;
    list-style: none;
}